main {
  flex: 1 1 75%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav{
  border: 1px solid #ffff;
  background-color: #2e2e2e;
}
content {
  margin: 20px 0 0 0;
  line-height: 1.6;
  border: 1px solid #ffff;
}